<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 - Sep 26,2024 -Introduction to Shell for (Data) Scientists</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> <td>09:00</td>  <td>Navigating files and directories</td> </tr>
      <tr> <td>09:30</td>  <td>Working with files and directories</td> </tr>
      <tr> <td>10:00</td>  <td>Pipes and filters</td> </tr>
      <tr> <td>11:00</td> <td>Loops</td> </tr>
      <tr> <td>12:00</td> <td>Shell scripting</td> </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 - Sep 29,2024 - Introduction to Conda for (Data) Scientists</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Introduction to Conda</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:45</td>  <td>Reproducible Software Environments with Conda</td> </tr>
      <tr> <td>12:30</td>  <td>Wrap-up</td> </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 - Oct 03,2024 - Introduction to Python for (Data) Scientists</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Basics of programming in Python</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>12:00</td>  <td>Building Programs with Python</td> </tr>
      <td>End</td>
      <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
    </table>
  </div>
  <!-- <div class="col-md-6"> <!-- right column -->
    <!-- <h3>Day 4</h3> -->
    <!-- <table class="table table-striped"> -->
      <!-- <tr>               row 1   -->
        <!-- <td></td>        time    -->
        <!-- <td></td>        content -->
      <!-- </tr> -->
      <!-- <tr>               row 2   -->
        <!-- <td></td>        time    -->
        <!-- <td></td>        content -->
      <!-- </tr> -->
      <!-- <tr>               row 3   -->
        <!-- <td>End</td> -->
        <!-- <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td> -->
      <!-- </tr> -->
    <!-- </table> -->
  <!-- </div> --> -->
</div>
