<!-- <p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p> -->


<p>Here is a small description of the tools we will teach in the workshop

<p>
<strong>Shell</strong>
<p>The Unix shell has been around longer than most of its users have been alive. It has survived so 
  long because it’s a power tool that allows people to do complex things with just a few 
  keystrokes. More importantly, it helps them combine existing programs in new ways and automate 
  repetitive tasks so they aren’t typing the same things over and over again. Use of the shell is 
  fundamental to using a wide range of other powerful tools and computing resources with clusters 
  either locally at KAUST (i.e., Ibex, Nesser, Shaheen, etc) or in the cloud (GCP, AWS, Azure, etc).
</p>  
  

<strong> Conda </strong>
<p> Conda is  an open source package and environment management system that runs on 
  Windows, macOS and Linux. Conda installs, runs, and updates packages and their dependencies. 
  Conda easily creates, saves, loads, and switches between environments on your local computer. 
  While Conda was created for Python programs it can package and distribute software for any 
  languages such as R, Ruby, Lua, Scala, Java, JavaScript, C/ C++, FORTRAN. This lesson motivates 
  the use of Conda as a development tool for building and sharing project specific software 
  environments that facilitate reproducible (data) science workflows.
</p>

<strong> Python </strong>
<p>Python is a versatile and powerful programming language known for its simplicity and readability. Created by Guido van Rossum and first released in 1991, Python’s design philosophy emphasizes code readability and ease of use, making it an excellent choice for beginners and experienced developers alike. It supports multiple programming paradigms, including procedural, object-oriented, and functional programming. Python’s extensive standard library and vibrant community contribute to its widespread use in web development, data analysis, artificial intelligence, scientific computing, and more. Its popularity continues to grow, driven by its ability to handle complex tasks with straightforward syntax.</p>
</p>


<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
